$base-color: #5F9FD0;
$header-font-color: #FFFFFF;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  font-family: Verdana Pro Regular !important;
  font-size: 15px !important;
  input {
    font-size: 15px !important;
  }
}

body, .table, .form-control{
  color: #7E94BE !important;
}

h5, h4, h3, th{
  color: #19263F;
}
.menu-spacer{
  flex: 1 1 auto;
}

.mat-form-field-flex {
  min-height: 30px !important;
}

.mat-menu-panel {
  margin-top: 62px !important;
}
